In [1]:
import pandas as pd

In [2]:
info = pd.read_csv('data_format1/user_info_format1.csv')
log = pd.read_csv('data_format1/user_log_format1.csv')

In [3]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424170 entries, 0 to 424169
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    424170 non-null  int64
 1   age_range  421953 non-null  float64
 2   gender     417734 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 9.7 MB

In [4]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54925330 entries, 0 to 54925329
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   item_id      int64
 2   cat_id       int64
 3   seller_id    int64
 4   brand_id     float64
 5   time_stamp   int64
 6   action_type  int64
dtypes: float64(1), int64(6)
memory usage: 2.9 GB

In [5]:
info.head(20)

    user_id  age_range  gender
0    376517        6.0     1.0
1    234512        5.0     0.0
2    344532        5.0     0.0
3    186135        5.0     0.0
4     30230        5.0     0.0
5    272389        6.0     1.0
6    281071        4.0     0.0
7    139859        7.0     0.0
8    198411        5.0     1.0
9     67037        4.0     1.0
10   149002        5.0     2.0
11     7468        4.0     0.0
12    94292        4.0     0.0
13   347414        6.0     1.0
14   191719        4.0     0.0
15   391524        5.0     1.0
16   153790        6.0     0.0
17   349112        3.0     1.0
18   344766        6.0     0.0
19    81816        5.0     0.0

In [6]:
log.head()

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0